<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title> Flight List </title>
        <link rel="stylesheet" href="style.css"/> 
	</head>
    <body>
    
    <div class="container">
    	<div class="row">
    		<h1>New Flight </h1>
    		<div class="card-body">
    		<form th:action="@{/flights}" th:object="${flights}" method="POST">
    		<div class="form-group">
    		<label> ID: </label>
    		<input type="text" name="id" th:field="*{id}" class="form-control" placeholder=" Insert..." required>
    		<label> Year: </label>
    		<input type="text" name="year" th:field="*{year}" class="form-control" placeholder=" Insert..." required>
    		<label> Month: </label>
    		<input type="text" name="month" th:field="*{month}" class="form-control" placeholder=" Insert..." required>
    		<label> Day of Month: </label>
    		<input type="text" name="dayMonth" th:field="*{dayMonth}" class="form-control" placeholder=" Insert..." required>
    		<label> Day of week: </label>
    		<input type="text" name="dayWeek" th:field="*{dayWeek}" class="form-control" placeholder=" Insert..." required>
    		<label> Departure Time: </label>
    		<input type="text" name="depTime" th:field="*{depTime}" class="form-control" placeholder=" Insert..." required>
    		<label> CRS Departure Time: </label>
    		<input type="text" name="CRSdepTime" th:field="*{CRSdepTime}" class="form-control" placeholder=" Insert..." required>
    		<label> Arrive Time: </label>
    		<input type="text" name="arrTime" th:field="*{arrTime}" class="form-control" placeholder=" Insert..." required>
    		<label> CRS Arrive Time: </label>
    		<input type="text" name="CRSarrTime" th:field="*{CRSarriTime}" class="form-control" placeholder=" Insert..." required>
    		<label> Elapsed Time: </label>
    		<input type="text" name="elapsedTime" th:field="*{elapsedTime}" class="form-control" placeholder=" Insert..." required>
    		<label> CRS Elapsed Time: </label>
    		<input type="text" name="CRSelapsedTime" th:field="*{CRSelapsedTime}" class="form-control" placeholder=" Insert..." required>
    		<label> Air Time: </label>
    		<input type="text" name="airTime" th:field="*{airTime}" class="form-control" placeholder=" Insert..." required>
    		<label> Arrive Delay: </label>
    		<input type="text" name="arrDelay" th:field="*{arrDelay}" class="form-control" placeholder=" Insert..." required>
    		<label> Departure Delay: </label>
    		<input type="text" name="depDelay" th:field="*{depDelay}" class="form-control" placeholder=" Insert..." required>
    		<label> Origin: </label>
    		<input type="text" name="origin" th:field="*{origin}" class="form-control" placeholder=" Insert..." required>
    		<label> Destination: </label>
    		<input type="text" name="dest" th:field="*{dest}" class="form-control" placeholder=" Insert..." required>
    		<label> Distance: </label>
    		<input type="text" name="distance" th:field="*{distance}" class="form-control" placeholder=" Insert..." required>
    		<label> Taxi In: </label>
    		<input type="text" name="taxiIn" th:field="*{taxiIn}" class="form-control" placeholder=" Insert..." required>
    		<label> Taxi Out: </label>
    		<input type="text" name="taxiOut" th:field="*{taxiOut}" class="form-control" placeholder=" Insert..." required>
    		<label> Cancelled: </label>
    		<input type="text" name="cancelled" th:field="*{cancelled}" class="form-control" placeholder=" Insert..." required>
    		<label> Diverted: </label>
    		<input type="text" name="diverted" th:field="*{diverted}" class="form-control" placeholder=" Insert..." required>
    		
    		<div class="box-footer">
    			<button onclick="" >Save</button>
    		</form>
    		
    	</div>	
	</div>
    </body>
   <script src="main.js"> </script>
</html>  